.imagen-circulo {
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 100px;
    border-radius: 50%; /* Crea el efecto de círculo */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el círculo */
  }